/* Navbar.css */

/* Estilos generales para enlaces */
.personal-blog,
.nav-link,
.category-dropdown {
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
}

.nav-link,
.category-dropdown {
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {

  .personal-blog,
  .nav-link,
  .category-dropdown {
    font-size: 18px;
  }
}

.nav-link:hover,
.nav-link.active,
.category-dropdown:hover,
.category-dropdown.active {
  font-weight: bold;
  transform: scale(1.05);
}

.container {
  max-width: 1490px;
  margin: 0 10px;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #1c1b1a;
  padding: 20px;
  border-radius: 4px;
  min-width: 200px;
  flex-direction: column;
  /* Agregamos esta línea para que los elementos estén uno debajo del otro */
}


.show {
  display: flex;
}

.dropdown-item {
  color: white;
  font-size: 16px;
  padding: 10px 0;
  transition: color 0.3s ease;
  text-align: center;
  border-bottom: 1px solid #555;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  color: #ffd700;
}