.personal-blog,
.nav-link {
  color: white;
  transition: color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease,
    transform 0.3s ease;
}

.personal-blog {
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  /* Evitar subrayado en los enlaces del navbar */
}

.nav-link {
  font-size: 18px;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* Evitar subrayado en los enlaces del navbar */
}

.nav-link:hover,
.nav-link.active {
  font-weight: bold;
  transform: scale(1.05);
}

.container {
  max-width: 1490px;
  margin: 0 10px;
}

/* Added style to prevent movement on hover */
.personal-blog:hover,
.nav-link:hover {
  line-height: inherit;
}

/* Added styles for the dropdown menu */
.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #1c1b1a;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  /* Cambiado a min-width */
}

.dropdown-item {
  color: white;
  font-size: 16px;
  padding: 10px 0;
  transition: color 0.3s ease;
  text-align: center;
  border-bottom: 1px solid #555;
  /* Agrega un borde inferior a cada elemento */
  white-space: nowrap;
  /* Evita que el texto se envuelva */
  text-decoration: none;
  /* Evitar subrayado en los enlaces del navbar */
}

.dropdown-item:last-child {
  border-bottom: none;
  /* Elimina el borde inferior del último elemento */
}

.dropdown-item:hover {
  color: #ffd700;
}

/* Navbar.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Asegura que el overlay esté sobre todos los demás elementos excepto el menú desplegable */
  background-color: transparent;
  /* Hace que el overlay sea transparente */
  pointer-events: none;
  /* Permite que los clics pasen a través del overlay */
}

.categories-bar {
  display: flex;
}

.category {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  cursor: pointer;
}

.category:hover {
  background-color: #555;
}

.category:focus {
  outline: none;
}
